body
  padding-top 10px

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #ccc

.clickable
  cursor pointer

table thead tr th
  text-align center
  font-weight bold

.w-100
  width 100%
.w-20
  width 20%
.w-15
  width 15%
.w-10
  width 10%
.w-5
  width 5%

.green
  color #fff
  background-color #484

.panel-sub-title
  color inherit

.panel-title-info
  font-weight normal !important

.font-7
  font-size 7px

.v-m
  vertical-align middle !important
