

body
  padding-top 10px


.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #ccc

.clickable
  cursor pointer

table thead tr th
  text-align center
  font-weight bold

.w-100
  width 100%
.w-20
  width 20%
.w-15
  width 15%
.w-10
  width 10%
.w-5
  width 5%
.w-70px
  width 70px

.green
  color #fff
  background-color #484

.panel-heading
  position:relative

.panel-title .rt_logo
  width:100px
  height:50px

.panel-title .glyphicon-refresh
  position:absolute
  top:50%
  right:15px
  margin-top:-16px
  font-size:xx-large

.panel-title-info
  position:absolute
  right:42px
  top:50%
  margin-top:-9px
  font-weight: normal !important
  font-family:Helvetica
  font-size:medium

.panel-sub-title
  color: inherit
  font-size:medium
  font-family:Helvetica
  vertical-align:bottom
  margin-left:10px


.font-7
  font-size 7px

.rtalk-xx-large
  font-size xx-large !important
  font-family fantasy

.rtalk-x-large
  font-size x-large !important

.rtalk-large
  font-size large !important

.rtalk-medium
  font-size medium !important

.rtalk-small
  font-size small !important

.topNColor
  background-color #dff0d8 !important

.topNMargin
  margin-bottom 10px

.contentsPadding
  padding 5px

.contentsTableRow
  padding 5px
  border 1px solid #ddd

.contentsWordBreak
  word-break break-all
  word-wrap break-word

.v-m
  vertical-align middle !important

.v-t
  vertical-align top !important

.partial-view-content
  width auto
  font-size large !important
  overflow hidden
  word-break break-all
  word-wrap break-word
  padding 0
  margin 0

.more-part
  display none
  
.no-margin
  padding 0
  margin 0

img 
  max-width 100%
  height auto

.topNColor
  border-color #d6f2ee
  background-color #d6f2ee !important

.headerColor
  background-color #578b91 !important  

.contentBorder
  border-color #eaeaea

.panelBorder
  border-color #578b91

.thumbs-margin
  margin-right: 5px

.thumbs-back
  background-color #578b91

.bold
  font-weight: bold

.btn-likeContents
  position:absolute
  right:70px
  bottom:7px
  padding:0

.btn-dislikeContents
  position:absolute
  right:0
  bottom:7px
  margin-top:-12px
  padding:0

.form-control
  -webkit-appearance:none

.table td
  position:relative

@media screen and (max-width:600px)
  .panel-title
    font-size:initial !important

  .panel-title .rt_logo
    width:60px
    height:30px

  .panel-sub-title
    display:block
    font-size:small
    margin-left:0

  .panel-title-info
    font-size:small
    margin-top:-7px

