//
   Created by LuckyJS on 2014. 8. 28..
.container
  form(name='form')
    .panel.panel-primary
      .panel-heading
        h1.panel-title.rtalk-xx-large RTalk
          small.panel-sub-title.rtalk-small   anonymous bulletin
          span.glyphicon.glyphicon-refresh.pull-right.clickable.v-m(ng-click='getListOnTime()', title='Refresh list right now!!!')
          timer.panel-title-info.pull-right.v-m.rtalk-medium(countdown="1", interval="1000", finish-callback='getListOnTime()') Update in {{countdown}}s.&nbsp;&nbsp;&nbsp;
      .panel-body
        .panel
          .input-group
            input.form-control(type='text', name='message', ng-model='msg', ng-minlength="1", ng-maxlength="100", ng-keyup='form.message.$valid && $event.keyCode==13 && saveContents()', placeholder='하고 싶은 말을 자유롭게 작성해주세요~^^ (100자 이내)', ng-required="true", autofocus="true")
            span.input-group-btn
              button.btn.btn-primary(type='button', ng-click='saveContents()') 전송
        .panel
          .row
            .col-sm-12.col-md-4(ng-repeat='top in contentsList.topn')
              .thumbnail.topNColor
                .caption
                  table.w-100
                    tr
                      td
                        span.rtalk-large {{top.t}}
                        br
                        span.rtalk-small {{top.wt}}
                      td.w-5
                        span.badge.rtalk-large {{top.l}}
                      td.w-5
                        span.glyphicon.glyphicon-thumbs-up.btn-lg.clickable(ng-click='likeContents(top)')
        .panel.panel-info
          table.table.table-striped
            tbody
              tr(ng-repeat='contents in contentsList.list')
                td
                  span.rtalk-large {{contents.t}}
                  br
                  span.rtalk-small {{contents.wt}}
                td.w-5.v-m
                  span.badge.pull-right.rtalk-large {{contents.l}}
                td.w-5.v-m
                  span.glyphicon.glyphicon-thumbs-up.btn-lg.clickable(ng-click='likeContents(contents)')
